<div class="container">
  <h1>Binary Operations</h1>
  <div class="form-group">
    <label for="inputA">Value 1:</label>
    <input type="text" id="inputA" autocomplete="off" (keypress)="numberNdecimalOnly($event)" [(ngModel)]="a"
      class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputB">Value 2:</label>
    <input type="text" id="inputB" autocomplete="off" (keypress)="numberNdecimalOnly($event)" [(ngModel)]="b"
      class="form-control" />
  </div>
  <div class="form-group">
    <label for="operation">Operation:</label>
    <select id="operation" [(ngModel)]="operation" class="form-control">
      <option value="add">+</option>
      <option value="subtract">-</option>
      <option value="divide">/</option>
      <option value="modulo">%</option>
    </select>
  </div>
  <button (click)="performOperation()" class="btn btn-primary">Perform Operation</button>
  <div *ngIf="result" class="result">
    <h2>Result: {{ result }}</h2>
  </div>
</div>